### 지역별 관광데이터 살펴보기_기초(시군구 데이터)
- 공공데이터 오픈 API 활용
- 서비스 코드 파일 merge 하여 서울, 인천, 경기 지역만 필터링
- 관광객은 외지인, 외국인 으로 가정하기
- 내 담당 날짜 :20200101-20201231 이나, 1H의 데이터만 해도 14만행에 달하므로, 반년씩 작업하기

필요 모듈 다운로드

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

#### 1.오픈API 활용

In [3]:
k='4B%2BgFf%2BmGegTElQURNSDwrAuQeISwzRu%2FIkfu1YlqGSpmZZBvNjkdJDHxkEdPDWNN%2FiW6HCagvHvenyVQIb%2BGg%3D%3D'

In [4]:
m_os='ETC'
m_ap='AppTest'

In [5]:
# 요청 URL
#20200101-20200630 데이터 135584라인
endpoint = 'https://apis.data.go.kr/B551011/DataLabService/locgoRegnVisitrDDList?'
skey = 'ServiceKey='+ k
param = '&numOfRows='+str(140000)+'&pageNo='+str(1)+'&MobileOS='+m_os+'&MobileApp='+m_ap+'&startYmd='+str(20200101)+'&endYmd='+str(20200630)

url = endpoint+skey+param
# url

'https://apis.data.go.kr/B551011/DataLabService/locgoRegnVisitrDDList?ServiceKey=4B%2BgFf%2BmGegTElQURNSDwrAuQeISwzRu%2FIkfu1YlqGSpmZZBvNjkdJDHxkEdPDWNN%2FiW6HCagvHvenyVQIb%2BGg%3D%3D&numOfRows=140000&pageNo=1&MobileOS=ETC&MobileApp=AppTest&startYmd=20200101&endYmd=20200630'

https://apis.data.go.kr/B551011/DataLabService/locgoRegnVisitrDDList?serviceKey=XtYWixmqX0vI2cKJSegeWtyEi9VruhGYOsi3GtUXDfIRIvJJa79BHlo4zukDQ%2BJMJS88CeCDtIKimAbrDSyM0Q%3D%3D&numOfRows=10&pageNo=1&MobileOS=ETC&MobileApp=AppTest&startYmd=20210513&endYmd=20210513

In [6]:
result = requests.get(url,verify=False)

c:\Users\sju02\AppData\Local\Programs\Python\Python310\lib\site-packages\urllib3\connectionpool.py:1045: InsecureRequestWarning: Unverified HTTPS request is being made to host 'apis.data.go.kr'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(

In [ ]:
# result.content

#### 1.데이터 살펴보기

In [ ]:
bs_obj = BeautifulSoup(result.content, "html.parser")
# bs_obj

In [9]:
#데이터 길이 추출
items= bs_obj.findAll('item')
len(items)

135584

In [10]:
#필요 컬럼만 추출하여 df 생성
import pandas as pd
sigungu = [item.signgunm.text for item in items]
signgu_code = [item.signgucode.text for item in items]
day = [item.daywkdivnm.text for item in items]
type_v = [item.toudivnm.text for item in items]
num_v = [item.tounum.text for item in items]
ymd=[item.baseymd.text for item in items]

In [11]:
df=pd.DataFrame({'시군구_코드':signgu_code,'시군구':sigungu,'요일':day,'관광객_구분명':type_v,'방문객_수':num_v,'년월일':ymd})
df.head()

  시군구_코드  시군구   요일 관광객_구분명               방문객_수       년월일
0  11110  종로구  수요일  현지인(a)             91332.5  20200101
1  11110  종로구  수요일  외지인(b)            272149.5  20200101
2  11110  종로구  수요일  외국인(c)  10541.164750687974  20200101
3  11140   중구  수요일  현지인(a)             73671.5  20200101
4  11140   중구  수요일  외지인(b)            255486.0  20200101

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135584 entries, 0 to 135583
Data columns (total 6 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   시군구_코드   135584 non-null  object
 1   시군구      135584 non-null  object
 2   요일       135584 non-null  object
 3   관광객_구분명  135584 non-null  object
 4   방문객_수    135584 non-null  object
 5   년월일      135584 non-null  object
dtypes: object(6)
memory usage: 6.2+ MB

#### 2.데이터 타입 일치시키기
-추후 합칠 서비스코드 파이레서 시군구 코드가 int 타입

In [13]:
df['시군구_코드']=df['시군구_코드'].astype('int64')

In [14]:
df.tail()

        시군구_코드   시군구   요일 관광객_구분명              방문객_수       년월일
135579   50110   제주시  화요일  외지인(b)           118783.0  20200630
135580   50110   제주시  화요일  외국인(c)  499.6551140065146  20200630
135581   50130  서귀포시  화요일  현지인(a)           113305.5  20200630
135582   50130  서귀포시  화요일  외지인(b)            83359.5  20200630
135583   50130  서귀포시  화요일  외국인(c)  325.1097053045187  20200630

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135584 entries, 0 to 135583
Data columns (total 6 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   시군구_코드   135584 non-null  int64
 1   시군구      135584 non-null  object
 2   요일       135584 non-null  object
 3   관광객_구분명  135584 non-null  object
 4   방문객_수    135584 non-null  object
 5   년월일      135584 non-null  object
dtypes: int64(1), object(5)
memory usage: 6.2+ MB

#### 3.시군구 코드 활용하여 서울, 경기도, 인천 데이터 필터링

In [16]:
#시군구 코드와 광역 코드 매치되어 있는 엑셀 파일 불러오기 (출처 : 공공데이터 포털)
import xlrd
# import openpyxl

In [17]:
code_data=pd.read_excel('C:/Users/sju02/Desktop/시각화프로젝트/Data/한국관광공사_서비스코드(관광빅데이터)_v1.0.xlsx')

In [18]:
code_data.head()

   areaCode areaNm  signguCode signguNm
0        11  서울특별시       11110      종로구
1        11  서울특별시       11140       중구
2        11  서울특별시       11170      용산구
3        11  서울특별시       11200      성동구
4        11  서울특별시       11215      광진구

In [19]:
code_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   areaCode    251 non-null    int64
 1   areaNm      251 non-null    object
 2   signguCode  251 non-null    int64
 3   signguNm    251 non-null    object
dtypes: int64(2), object(2)
memory usage: 8.0+ KB

In [20]:
dfMerged=pd.merge(df,code_data, left_on='시군구_코드',right_on='signguCode',how='left')
# dfMerged=dfMerged[dfMerged['시군구_코드'].notnull()]
# dfMerged=dfMerged[dfMerged['signguCode'].notnull()]
dfMerged.head()

,시군구_코드,시군구,요일,관광객_구분명,방문객_수,년월일,areaCode,areaNm,signguCode,signguNm
0,11110,종로구,수요일,현지인(a),91332.5,20200101,11,서울특별시,11110,종로구
1,11110,종로구,수요일,외지인(b),272149.5,20200101,11,서울특별시,11110,종로구
2,11110,종로구,수요일,외국인(c),10541.164750687974,20200101,11,서울특별시,11110,종로구
3,11140,중구,수요일,현지인(a),73671.5,20200101,11,서울특별시,11140,중구
4,11140,중구,수요일,외지인(b),255486.0,20200101,11,서울특별시,11140,중구

In [21]:
dfMerged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 135584 entries, 0 to 135583
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   시군구_코드      135584 non-null  int64
 1   시군구         135584 non-null  object
 2   요일          135584 non-null  object
 3   관광객_구분명     135584 non-null  object
 4   방문객_수       135584 non-null  object
 5   년월일         135584 non-null  object
 6   areaCode    135584 non-null  int64
 7   areaNm      135584 non-null  object
 8   signguCode  135584 non-null  int64
 9   signguNm    135584 non-null  object
dtypes: int64(3), object(7)
memory usage: 11.4+ MB

#### 4.합쳐진 df 다듬고 필요 데이터만 필터링해서 저장

In [22]:
dfMerged=dfMerged.drop(['signguCode','signguNm'], axis =1)
#한번만 실행하기

In [23]:
# dfMerged

,시군구_코드,시군구,요일,관광객_구분명,방문객_수,년월일,areaCode,areaNm
0,11110,종로구,수요일,현지인(a),91332.5,20200101,11,서울특별시
1,11110,종로구,수요일,외지인(b),272149.5,20200101,11,서울특별시
2,11110,종로구,수요일,외국인(c),10541.164750687974,20200101,11,서울특별시
3,11140,중구,수요일,현지인(a),73671.5,20200101,11,서울특별시
4,11140,중구,수요일,외지인(b),255486.0,20200101,11,서울특별시
...,...,...,...,...,...,...,...,...
135579,50110,제주시,화요일,외지인(b),118783.0,20200630,50,제주특별자치도
135580,50110,제주시,화요일,외국인(c),499.6551140065146,20200630,50,제주특별자치도
135581,50130,서귀포시,화요일,현지인(a),113305.5,20200630,50,제주특별자치도
135582,50130,서귀포시,화요일,외지인(b),83359.5,20200630,50,제주특별자치도
135583,50130,서귀포시,화요일,외국인(c),325.1097053045187,20200630,50,제주특별자치도

In [24]:
#시군구 코드 활용하여 서울, 경기도, 인천 데이터 필터링
df2=dfMerged[(dfMerged['areaNm']=='서울특별시') | (dfMerged['areaNm']=='인천')| (dfMerged['areaNm']=='경기도')]

In [25]:
# df2

,시군구_코드,시군구,요일,관광객_구분명,방문객_수,년월일,areaCode,areaNm
0,11110,종로구,수요일,현지인(a),91332.5,20200101,11,서울특별시
1,11110,종로구,수요일,외지인(b),272149.5,20200101,11,서울특별시
2,11110,종로구,수요일,외국인(c),10541.164750687974,20200101,11,서울특별시
3,11140,중구,수요일,현지인(a),73671.5,20200101,11,서울특별시
4,11140,중구,수요일,외지인(b),255486.0,20200101,11,서울특별시
...,...,...,...,...,...,...,...,...
135186,41820,가평군,화요일,외지인(b),46011.0,20200630,41,경기도
135187,41820,가평군,화요일,외국인(c),32.31658536585367,20200630,41,경기도
135188,41830,양평군,화요일,현지인(a),63749.0,20200630,41,경기도
135189,41830,양평군,화요일,외지인(b),53508.0,20200630,41,경기도
135190,41830,양평군,화요일,외국인(c),25.172142857142855,20200630,41,경기도

In [26]:
#관광객 조건에 해당하는 방문객 데이터 필터링
df2=df2[(df2['관광객_구분명']=='외지인(b)') | (df2['관광객_구분명']=='외국인(c)')]

In [27]:
# df2

,시군구_코드,시군구,요일,관광객_구분명,방문객_수,년월일,areaCode,areaNm
1,11110,종로구,수요일,외지인(b),272149.5,20200101,11,서울특별시
2,11110,종로구,수요일,외국인(c),10541.164750687974,20200101,11,서울특별시
4,11140,중구,수요일,외지인(b),255486.0,20200101,11,서울특별시
5,11140,중구,수요일,외국인(c),25644.2608094902,20200101,11,서울특별시
7,11170,용산구,수요일,외지인(b),252889.0,20200101,11,서울특별시
...,...,...,...,...,...,...,...,...
135184,41800,연천군,화요일,외국인(c),5.09,20200630,41,경기도
135186,41820,가평군,화요일,외지인(b),46011.0,20200630,41,경기도
135187,41820,가평군,화요일,외국인(c),32.31658536585367,20200630,41,경기도
135189,41830,양평군,화요일,외지인(b),53508.0,20200630,41,경기도
135190,41830,양평군,화요일,외국인(c),25.172142857142855,20200630,41,경기도

In [28]:
#20200101-20200630, 20200701-20201231 두 날짜 사이값으로 파일 나눠서 저장하기-팀원들과 검증을 위해


df2.reset_index(drop=True,inplace=True) #기존 인덱스 버리기

df2.index+=1 #인덱스 1부터로 설정하기
df2

       시군구_코드  시군구   요일 관광객_구분명               방문객_수       년월일  areaCode areaNm
1       11110  종로구  수요일  외지인(b)            272149.5  20200101        11  서울특별시
2       11110  종로구  수요일  외국인(c)  10541.164750687974  20200101        11  서울특별시
3       11140   중구  수요일  외지인(b)            255486.0  20200101        11  서울특별시
4       11140   중구  수요일  외국인(c)    25644.2608094902  20200101        11  서울특별시
5       11170  용산구  수요일  외지인(b)            252889.0  20200101        11  서울특별시
...       ...  ...  ...     ...                 ...       ...       ...    ...
24383   41800  연천군  화요일  외국인(c)                5.09  20200630        41    경기도
24384   41820  가평군  화요일  외지인(b)             46011.0  20200630        41    경기도
24385   41820  가평군  화요일  외국인(c)   32.31658536585367  20200630        41    경기도
24386   41830  양평군  화요일  외지인(b)             53508.0  20200630        41    경기도
24387   41830  양평군  화요일  외국인(c)  25.172142857142855  20200630        41    경기도

[24387 rows x 8 columns]

In [29]:
df2.to_csv('./crawl_data/관광데이터_지역_Y2020_H1.csv')